body {
  margin: 0;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #ffffff;
  font-size: 18px;
}

.app {
  background: #a8d5e5;
}

h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}

.menu1 {
  margin-bottom: 40px;
  margin-top: 20px;
}

h2 {
  color: #165a72;
}
.light-theme {
  background: #ffffff;
  color: #1e1e1e;
  transition: all 0.4s ease;
}


.dark-theme {
  background: linear-gradient(to right, #232526, #414345);
  color: #f0f0f0;
  transition: all 0.4s ease;
}
.light-theme .zoom-stars-label {
  color: #000000;
}

.dark-theme .zoom-stars-label {
  color: #ffffff;
}
